body{
	background-color: #3f324f;
}
nav{
	background-color: #24242d;
}

#logo{
	width: 8em;
	height: auto;
}

#logo-morado{
	width: 8em;
	height: auto;
}

.ingresar{
	margin-left: 60%;
	background-color: #e1455b; 
	color:white;
}

.fa-fa-search{
	color: #3f324f;
	font-size: 1em;
	margin-right: 1em;
	margin-top: 1em;
	display: inline-block;
	float: left;
}

.registrarse {
	margin-left: 3em;
	background-color: #e1455b; 
	color:white;
}

#sinEspacios{
	margin-left: 0;
	margin-right: 0;
}

.buscador{
	background-color: white;
	border:solid black 1px;
	width: 25em;
	height: 3em;
	margin-left: 30em;
	margin-top: 1em;
	margin-bottom: 2em;
}

#buscador1{
	text-align: center;
	margin-bottom: 3em;
}

.custom-control-indicator{
	background-color: #e1455b;
}

#idioma{
	background-color: #e1455b;
	color: white;
}

#carousel{
	margin-bottom: 3em;
}

.custom-control{
	color:white;
}

#buscarpor{
	color:white;
}

#recientes {
	width: 39%;
	height: 28%;
	font-size: 17px;
	color: #64004f;
 	background-color: #cec4b6;
}

#estrenos {
	width: 39%;
	display: inherit;
}


